<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414536365363-nbepolo7j8e7ojs2ne8jf8lotui8msfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414536365363-nbepolo7j8e7ojs2ne8jf8lotui8msfk</string>
	<key>API_KEY</key>
	<string>AIzaSyCwctBJywmzU93iC0eH4s-LYm1wwM44kTc</string>
	<key>GCM_SENDER_ID</key>
	<string>414536365363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.fuse.curadai</string>
	<key>PROJECT_ID</key>
	<string>curadai</string>
	<key>STORAGE_BUCKET</key>
	<string>curadai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414536365363:ios:c0f5e22c97f6f872d37a46</string>
	<key>DATABASE_URL</key>
	<string>https://curadai.firebaseio.com</string>
</dict>
</plist>