<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909520260586-iimbgveoamhqd8uq9flaakjd0v55ck5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909520260586-iimbgveoamhqd8uq9flaakjd0v55ck5h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>909520260586-7m4l97lfbse0qkhfvpjd3p02feha62l0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhZZvwgfgAAhBM4bhUFUJPqG9n_rGhOss</string>
	<key>GCM_SENDER_ID</key>
	<string>909520260586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.fuse.supervecina</string>
	<key>PROJECT_ID</key>
	<string>supervecina-a6a9e</string>
	<key>STORAGE_BUCKET</key>
	<string>supervecina-a6a9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909520260586:ios:b4c3ccd5f9f4d9ab9fb693</string>
	<key>DATABASE_URL</key>
	<string>https://supervecina-a6a9e.firebaseio.com</string>
</dict>
</plist>