<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262793449920-847brjlv3qni1ua9hs8ov7jc7l0f4tsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262793449920-847brjlv3qni1ua9hs8ov7jc7l0f4tsa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>262793449920-pcslb49ned2ns243a2handoot939sevu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3KVTn46woqpRdksu1rxVFKD19_D3A5FE</string>
	<key>GCM_SENDER_ID</key>
	<string>262793449920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.fuse.digitalrand</string>
	<key>PROJECT_ID</key>
	<string>digitalrand-5c2a7</string>
	<key>STORAGE_BUCKET</key>
	<string>digitalrand-5c2a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262793449920:ios:19ab8ab4a516132124b825</string>
	<key>DATABASE_URL</key>
	<string>https://digitalrand-5c2a7.firebaseio.com</string>
</dict>
</plist>